html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 4vw;
  color: #ffffff;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.drag-holder {
  height: 30px;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.buttons-wrapper {
  position: absolute;
  right: 5px;
  width: 70px;
  justify-content: space-between;
  display: flex;
}

.color-picker {
  position: relative;
  width: 15px;
  height: 15px;
  overflow: hidden;
  display: flex;
}

.color-picker input {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.user-base {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 1px;
  font-size: 12px;
}

.user-base img {
  width: 20px;
  height: 20px;
  border-radius: 23px;
  background-size: cover;
  opacity: 0.7;
  margin-right: 5px;
}

/* 下半部分 */

.stage {
  height: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.basic-info-wrapper{
  display: flex;
  align-items: center;
  flex-grow: 1;
}


.bilibili {
  width: 26vw;
  height: 26vw;
  -webkit-mask-image: url(./assets/bilibili.svg);
  -webkit-mask-size: cover;
  background-color: #fb7299;
}


.level span{
  
  font-size: 0.7rem;
  display: inline-block;
  background-color: #11ab11;
  padding: 0px 4px;
}

.videos{
  flex-grow: 100;
  width: 100vw;
  height: 100%;
}

.scroll-view{
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.scroll-view-tmp{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 110vw;
}

.content{
  height: 100%;
  padding-bottom: 60px;
}

.video-item{
  /* height: 5rem; */
  cursor: pointer;
  width: 100vw;
  align-items: center;
  display: flex;
  padding: 8px;
  will-change: transform;
  transform: scale(1);
  transition: transform 300ms ease;
}

.video-item:hover{}

.video-item:active{
  transform: scale(0.9);
}


.video-cover{
  min-height: 4rem;
  min-width: 4rem;
  margin-right: 10px;
  margin-top: 5px;
  align-self: flex-start;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.video-name{
  margin-bottom: 10px;
}

.video-content{
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  width: 100%;
}

.video-info{
  display: inline-flex;
  justify-content: space-between;
}

.video-info-start{
  justify-content: flex-start;
}

.create-time{
  margin-top: 10px;
  font-size: 0.8rem;
}